@charset "UTF-8";

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
    font-size: 12px;
    background-color: #EBF3FC;
}

html {
    _padding: 60px 0px;
}

#header {
    border: 1px solid #78A7D3;
    background-color: #FFFFFF;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
}

#bd {
    position: absolute;
    top: 100px;
    right: 0px;
    bottom: 17px; /* #footer 高度 */
    left: 0px;
    overflow: hidden;
    width: 100%;
    _height: 100%;
}

#menu {
    border: 1px solid #78A7D3;
    background-color: #FFFFFF;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    width: 178px;
    _height: 100%;
}

#main {
    border: 1px solid #78A7D3;
    background-color: #FFFFFF;
    position: absolute;
    _position: static;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 178px;
    overflow: hidden;
    /* margin: 0px 3px 3px 3px; */
    _overflow: hidden;
    _height: 100%;
    _margin-left: 178px;
}

#toolbar {
    border: 1px solid #78A7D3;
    background: url("images/index/title_bg.jpg");
    position: absolute;
    _position: static;
    top: 0px;
    left: 181px;
    right: 0px;
    overflow: hidden;
    height: 31px;
    margin-top: 3px;
    margin-right: 3px;
    _overflow: hidden;
    _margin-left: 181px;
}

#toolbar ul {
    color: #003366;
    height: 31px;
    margin: 0px;
    padding: 0px;
    line-height: 31px;
}

#toolbar ul li {
    list-style: none;
    float: right;
    margin-right: 40px;
}

#datetime {
    width: 280px;
}

#contents {
    _overflow: auto;
    _width: 100%;
    _height: 100%;
}

#footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 17px;
    background-color: #EBF3FC;
    text-align: right;
}

.copyright {
    text-align: center;
}

a:link {
    color: #003366;
    text-decoration: none;
}

a:visited {
    color: #003366;
    text-decoration: none;
}

a:hover {
    color: #003366;
    text-decoration: underline;
}

/* 与布局无关，一些说明性内容样式 */
.tit-layout {
    margin: 30px 0 0;
    font-size: 18px;
    text-align: center;
}

#feature {
    width: 1077px;
    line-height: 4;
}

#feature .hd {
    padding: 20px 15px;
}

#feature .hd h2 {
    margin: 0;
    font-size: 16px;
}

#feature .bd ol {
    margin-top: 0;
}

#feature .bd h3 {
    margin: 0;
    padding: 0 15px;
    font-size: 14px;
}

#feature .ft {
    padding: 10px 15px 30px;
}